<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-card label="New Bookings" total="12k" percentage="50" [data]="cards"></app-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card label="New Guests" total="10k" percentage="40" [data]="cards"></app-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card label="Referral" total="6k" percentage="20" [data]="cards"></app-card>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<h3>New Bookings</h3>
